html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color:  rgb(242, 239, 247);
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Roboto, sans-serif;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

/* background-image: -webkit-linear-gradient(30deg, rgb(207, 188, 218) 50%, rgb(219, 199, 245) 50%); */
